.details {
  display: flex;
  flex-direction: column;
  flex: 50%;
  width: 250px;
  padding: 15px;
  margin: 15px;
  margin-right: 100px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px;
  border-radius: 1rem;
  opacity: 0;
  animation: show 0.3s ease-in forwards;

  @keyframes show {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  h2 {
    margin: 0px;
    color: black;
    margin-bottom: 10px;
  }
  .id {
    margin: 15px 0px;
  }

  .name-input {
    display: flex;
    flex-direction: column;
    gap: 5px;

    label {
      color: gray;
    }
    input {
      padding: 10px 5px;
      border-radius: 0.6rem;
      border: 0.5px solid gray;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 3px 6px -2px;
    }
  }
}

button {
  padding: 5px 15px;
  margin: 5px;
  font-size: 1rem;
  margin-bottom: 10px;
}
