p {
  padding: 5px 10px;
  width: 100%;
  background-color: lightgray;
}

button {
  padding: 5px 15px;
  margin: 5px;
  font-size: 1rem;
  margin-bottom: 10px;
}

.logs {
  color: gray;
  margin: 5px;
}
