<h2>My Heroes</h2>

<div *ngIf="heroes.length > 0" class="parent">
  <ul class="heroes">
    <li *ngFor="let hero of heroes">
      <a routerLink="/detail/{{ hero.id }}">
        <span class="badge">{{ hero.id }}</span>
        <span class="name">
          <div class="span-container-1">
            <span>{{ hero.name }}</span>
          </div></span
        >
      </a>
      <button
        type="button"
        class="delete"
        title="delete hero"
        (click)="delete(hero)"
      >
        x
      </button>
    </li>
  </ul>

  <div class="add-hero">
    <label for="new-hero">Hero name: </label>
    <input id="new-hero" #heroName />

    <!-- (click) passes input value to add() and then clears the input -->
    <button
      type="button"
      class="add-button"
      (click)="add(heroName.value); heroName.value = ''"
    >
      Add hero
    </button>
  </div>
</div>
